h1 {
    color: blue;
    font-size:50px;
}
p {
    color: black;
    font-size:22px;
}
button {
    color: black;
    background-color: yellow;
    
    width:250px;
    height:70px;
    
    border:3px solid blue;

    border-radius:20px;
    padding:20px;
    margin:30px;
    
    font-size:24px;
}
